	<style type="text/css">
		h1{color:orange; font-size: 30px; text-decoration: blink; text-align: center}
		h2{color:blue; font-size: 40px; text-decoration: underline; text-align: right;}
		.small{color:yellow; font-size: 20px}
		#first{color:black; font-size: 50px; text-shadow: 30px}
		span{font-style: italic;}
	</style>